/*******************************************************************************
 * Common UI Styling - Panel Backgrounds                                       *
 ******************************************************************************/

.theme-presets .SBKIT-property-panel .table-view {
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-color: -sb-content-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


/*******************************************************************************
 * Property Panel - TableView                                                  *
 ******************************************************************************/

.theme-presets .SBKIT-property-panel .table-view {
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-color: -sb-content-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-table-cell-border-color: derive(-sb-content-background,5%);
}
.theme-presets.SBKIT-property-panel .table-row-cell:even {
    -fx-background: derive(-sb-base, 25%);
}
.theme-presets.SBKIT-property-panel .table-row-cell:odd {
    -fx-background: derive(-sb-base, 40%);
}
.theme-presets .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.theme-presets .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background-color: -sb-selected-bar-color;
}
.theme-presets .table-row-cell:filled:selected,
.theme-presets .table-row-cell:filled > .table-cell:selected {
    -fx-background-color: -sb-selected-bar-unfocused-color;
}

.theme-presets.SBKIT-property-panel .noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.theme-presets .run-shape {
    -fx-shape: "M0,-4L4,0L0,4Z";
    -fx-background-color: -sb-header-detail;
    -fx-min-width: 8;
    -fx-max-width: 8;
    -fx-min-height: 8;
    -fx-max-height: 8;
}

.theme-presets .chart {
    -fx-background-color: -sb-content-background;
}
.theme-presets .chart-title {
    -fx-text-fill: derive(-sb-content-text, 10%);
}
.theme-presets .axis-label {
    -fx-text-fill: derive(-sb-content-text, 10%);
}
.theme-presets .chart-legend {
    -fx-background-color: -sb-content-background;
}
.theme-presets .chart-legend-item {
    -fx-text-fill: derive(-sb-content-text, 10%);
}
.theme-presets .default-color0.chart-line-symbol { -fx-background-color: CHART_COLOR_1, -sb-content-background; }
.theme-presets .default-color1.chart-line-symbol { -fx-background-color: CHART_COLOR_2, -sb-content-background; }
.theme-presets .default-color2.chart-line-symbol { -fx-background-color: CHART_COLOR_3, -sb-content-background; }
.theme-presets .default-color3.chart-line-symbol { -fx-background-color: CHART_COLOR_4, -sb-content-background; }
.theme-presets .default-color4.chart-line-symbol { -fx-background-color: CHART_COLOR_5, -sb-content-background; }
.theme-presets .default-color5.chart-line-symbol { -fx-background-color: CHART_COLOR_6, -sb-content-background; }
.theme-presets .default-color6.chart-line-symbol { -fx-background-color: CHART_COLOR_7, -sb-content-background; }
.theme-presets .default-color7.chart-line-symbol { -fx-background-color: CHART_COLOR_8, -sb-content-background; }
.theme-presets .chart-plot-background {
    -fx-background-color: derive(-sb-base, 40%);
}

