.button {
    -fx-font-weight: bold;
}

.tooltip {
    -fx-font-color: white;
}

#disconected{
    -fx-background-color: linear-gradient(lightgrey, gray);    
}

#connected{
    -fx-background-color: linear-gradient(lightgrey, gray);    
}