.DS_Store
build/**/*
build
/doc
*.patch

# Eclipse
.classpath
.project
.settings/

# Maven stuff
bin/
log/
target/
dependency-reduced-pom.xml
.flattened-pom.xml
.factorypath

# Vim
.*.swp
.*.un~
*.iml
.*.swo

# Netbeans
nb-configuration.xml
nbactions.xml
*.versionsBackup
.nbproject

# IntelliJ
.idea
/plugins/epics7/nbproject/
