<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/opexal-gui/src/edu/stanford/lcls/modelmanager/ModelManagerMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.stanford.lcls.modelmanager.ModelManagerMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="opexal-gui"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DDB_CONNECTION=jdbc:postgresql://ics-services.esss.lu.se:5432/machinemodel&#13;&#10;-DDB_USERNAME=machinemodel&#13;&#10;-DDB_PASSWORD=physicsl1nacstuff"/>
</launchConfiguration>
