.root{
    -fx-font-family:'Source Sans Pro';
}

.triangle-shape {
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
    -fx-background-color: -fx-text-background-color;
    -fx-background-insets: 4 4 4 4 ;
    -fx-min-width: 15;
    -fx-max-width: 15;
    -fx-min-height: 15;
    -fx-max-height: 15;
}


.button-add {
    -fx-background-radius: 0;
    -fx-background-color: -fx-text-fill;
    -fx-shape: "m 227.8,174.1 c 0,17.9 0,35.8 0,53.7 -20.09353,0.74179 -40.57727,-1.58152 -60.39531,1.35156 -20.9487,8.85618 -6.55782,39.16587 13.62496,33.04844 15.59011,0 31.18023,0 46.77035,0 0.74179,20.09353 -1.58152,40.57727 1.35156,60.39531 8.86549,20.95435 39.08395,6.5441 32.94844,-13.62496 0,-15.59011 0,-31.18023 0,-46.77035 20.09353,-0.74179 40.57727,1.58152 60.39531,-1.35156 20.9487,-8.85618 6.55782,-39.16587 -13.62496,-33.04844 -15.59011,0 -31.18023,0 -46.77035,0 -0.74093,-20.09363 1.5797,-40.57649 -1.35,-60.39531 -6.71045,-17.12623 -33.33887,-11.64686 -32.95,6.69531 z M 71.7,71.7 C 2.8902922,138.61827 -19.022195,247.47723 17.414239,336.09145 52.114378,425.29281 142.9995,488.95625 238.88024,489.92544 332.79408,493.5825 425.02757,437.09579 465.359,352.3765 509.10907,264.98492 493.42036,152.12369 426.63635,80.557739 365.82505,11.533852 264.44539,-16.742222 176.49669,9.6572205 137.04351,21.007988 100.69825,42.667667 71.7,71.7 Z M 455.7,245 C 457.50951,339.03685 387.94796,427.95507 296.48914,449.40605 212.23787,471.75962 116.91046,435.08616 69.56875,361.84531 15.138668,283.1312 24.945575,167.86735 92.321313,99.769333 155.88384,30.350772 267.6132,13.96215 348.70641,61.464136 413.91983,97.840597 456.5652,170.17647 455.7,245 Z";
}

.button-remove {
    -fx-background-radius: 0;
    -fx-background-color: -fx-text-fill;
    -fx-shape: "m 167.40469,229.15156 c -25.14392,13.00537 1.79119,43.53191 22.903,32.96976 44.06326,-0.34547 88.12649,-0.70965 132.18762,-1.27288 25.77579,-14.10748 -3.14737,-43.57648 -24.40625,-32.90364 -43.55873,0.75633 -87.1228,0.67158 -130.68437,1.20676 z M 71.7,71.7 C 2.8902922,138.61827 -19.022195,247.47723 17.414239,336.09145 52.114378,425.29281 142.9995,488.95625 238.88024,489.92544 332.79408,493.5825 425.02757,437.09579 465.359,352.3765 509.10907,264.98492 493.42036,152.12369 426.63635,80.557739 365.82505,11.533852 264.44539,-16.742222 176.49669,9.6572205 137.04351,21.007988 100.69825,42.667667 71.7,71.7 Z M 455.7,245 C 457.50951,339.03685 387.94796,427.95507 296.48914,449.40605 212.23787,471.75962 116.91046,435.08616 69.56875,361.84531 15.138668,283.1312 24.945575,167.86735 92.321313,99.769333 155.88384,30.350772 267.6132,13.96215 348.70641,61.464136 413.91983,97.840597 456.5652,170.17647 455.7,245 Z";
}

.button-refresh {
    -fx-background-radius: 0;
    -fx-background-color: -fx-text-fill;
    -fx-shape: "M112.156,97.111c72.3-65.4,180.5-66.4,253.8-6.7l-58.1,2.2c-7.5,0.3-13.3,6.5-13,14c0.3,7.3,6.3,13,13.5,13c0.2,0,0.3,0,0.5,0l89.2-3.3c7.3-0.3,13-6.2,13-13.5v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.3-88.2c-0.3-7.5-6.6-13.3-14-13c-7.5,0.3-13.3,6.5-13,14l2.1,55.3c-36.3-29.7-81-46.9-128.8-49.3c-59.2-3-116.1,17.3-160,57.1c-60.4,54.7-86,137.9-66.8,217.1c1.5,6.2,7,10.3,13.1,10.3c1.1,0,2.1-0.1,3.2-0.4c7.2-1.8,11.7-9.1,9.9-16.3C36.656,218.211,59.056,145.111,112.156,97.111zM112.156,97.111c72.3-65.4,180.5-66.4,253.8-6.7l-58.1,2.2c-7.5,0.3-13.3,6.5-13,14c0.3,7.3,6.3,13,13.5,13c0.2,0,0.3,0,0.5,0l89.2-3.3c7.3-0.3,13-6.2,13-13.5v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.3-88.2c-0.3-7.5-6.6-13.3-14-13c-7.5,0.3-13.3,6.5-13,14l2.1,55.3c-36.3-29.7-81-46.9-128.8-49.3c-59.2-3-116.1,17.3-160,57.1c-60.4,54.7-86,137.9-66.8,217.1c1.5,6.2,7,10.3,13.1,10.3c1.1,0,2.1-0.1,3.2-0.4c7.2-1.8,11.7-9.1,9.9-16.3C36.656,218.211,59.056,145.111,112.156,97.111zM462.456,195.511c-1.8-7.2-9.1-11.7-16.3-9.9c-7.2,1.8-11.7,9.1-9.9,16.3c16.9,69.6-5.6,142.7-58.7,190.7c-37.3,33.7-84.1,50.3-130.7,50.3c-44.5,0-88.9-15.1-124.7-44.9l58.8-5.3c7.4-0.7,12.9-7.2,12.2-14.7s-7.2-12.9-14.7-12.2l-88.9,8c-7.4,0.7-12.9,7.2-12.2,14.7l8,88.9c0.6,7,6.5,12.3,13.4,12.3c0.4,0,0.8,0,1.2-0.1c7.4-0.7,12.9-7.2,12.2-14.7l-4.8-54.1c36.3,29.4,80.8,46.5,128.3,48.9c3.8,0.2,7.6,0.3,11.3,0.3c55.1,0,107.5-20.2,148.7-57.4C456.056,357.911,481.656,274.811,462.456,195.511z";
}


.button-save {
    -fx-background-radius: 0;
    -fx-background-color: -fx-text-fill;
    -fx-shape: "M245,0c-9.5,0-17.2,7.7-17.2,17.2v331.2L169,289.6c-6.7-6.7-17.6-6.7-24.3,0s-6.7,17.6,0,24.3l88.1,88.1c3.3,3.3,7.7,5,12.1,5c4.4,0,8.8-1.7,12.1-5l88.1-88.1c6.7-6.7,6.7-17.6,0-24.3c-6.7-6.7-17.6-6.7-24.3,0L262,348.4V17.1C262.1,7.6,254.5,0,245,0z M462.1,472.9v-99.7c0-9.5-7.7-17.2-17.2-17.2s-17.2,7.7-17.2,17.2v82.6H62.2v-82.6c0-9.5-7.7-17.2-17.1-17.2s-17.2,7.7-17.2,17.2v99.7c0,9.5,7.7,17.1,17.2,17.1h399.8C454.4,490,462.1,482.4,462.1,472.9z";
}

.button-load {
    -fx-background-radius: 0;
    -fx-background-color: -fx-text-fill;
    -fx-shape: "M262.2,472.9V141.6l58.8,58.8c3.3,3.3,7.7,5,12.1,5c4.4,0,8.8-1.7,12.1-5c6.7-6.7,6.7-17.6,0-24.3L257.1,88c-6.4-6.4-17.8-6.4-24.3,0l-88.1,88.1c-6.7,6.7-6.7,17.6,0,24.3s17.6,6.7,24.3,0l58.8-58.8v331.2c0,9.5,7.7,17.2,17.1,17.2C254.6,490,262.2,482.4,262.2,472.9z M28,17.1v99.7c0,9.5,7.7,17.2,17.1,17.2c9.5,0,17.2-7.7,17.2-17.2V34.3h365.5v82.6c0,9.5,7.7,17.2,17.1,17.2c9.4,0,17.1-7.7,17.1-17.2V17.1C462,7.6,454.3,0,444.9,0H45.2C35.7,0,28,7.6,28,17.1z";
}